TOKEN=your_bot_token
CLIENT_ID=your_bot_client_id
PORT=3000
GUILD_ID=your_server_id_here
DEV_ID=1378954077462986772
MONGO_URI=mongodb+srv://Shadow99:<db_password>@cluster0.3innpjk.mongodb.net/discordbot?retryWrites=true&w=majority&appName=Cluster0
TENOR_API_KEY=AIzaSyCq4QN0GjTERM6MC5O-yo88YDNNZgQnvkQ
HF_API_KEY=your_token_here
